.bmx-products-list{
    display: flex;
}

.container-bmx-list{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.footer-block-product-card{
    display: flex;
    justify-content: space-around;
}

.cart-favorite-block{
    display: flex;
    width: 100px;
    justify-content: space-around;
}

.card-price{
    font-size: 20px;
}

.products-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card{
    margin: 10px 10px;
}